<div class="row flex-fill d-flex h-100">
	<div class="flex-fill d-flex col-md-9" >
		<div class="row flex-fill">
			<div class="col-md-1" style="background-color:#EBFEFF"> 
				<br><br><br><br><br><br><br><br>
				<p style="text-orientation:upright;writing-mode: vertical-lr;text-align: center;vertical-align: middle;"> 
				                        	T  i  m  e  l  i  n  e
				</p>
			</div>
			<div class="col-md-11" style="overflow-y:auto;padding-left: 0;padding-right: 0">
				<!-- <br>Here will be the short texts to be coded with a timeline on the left<br> -->
				
				<% if !@texts.empty? %>
					<table class="table table-bordered table-hover" id="tableMessages">
						<thead>
							<tr>
								<th scope="col"><small><strong>Username</strong></small></th>
								<th scope="col"><small><strong>Text</strong></small></th>
								<th scope="col" width="15%"><small><strong>Date</strong></small></th>
							</tr>
						</thead>
						<tbody>
							<% @texts.each do |t| %>
								<tr class="clickable-row">
									<td><small><%= t.username %></small></td>
									<td><small><%= t.text %></small></td>
									<td><small><%= t.date.to_formatted_s(:long_ordinal) %></small></td>
								</tr>
								<!--<small><%= t.username + ": " + t.text %></small><br>-->
							<% end %>
						</tbody>
					</table>
				<% else %>
					Here will be the short texts to be coded when they are uploaded to the database
				<% end %>
			</div>
		</div>
	</div>
	<div class="col-md-3" style=" overflow-y:auto;padding-top: 10px">
		<!-- <br>Here will be the labels to code the data <br> -->

		<!-- <div class="row">	 -->
			<% if !@texts.empty? %>
				<% @codes.each do |c| %>
					<!-- <div class="col-lg-4"> -->
						<button type="button" class="btn btn-default btn-block" style="background-color:<%=c.color%>"><%= c.name%></button>
					<!-- </div> -->
				<% end %>
			<% else %>
				Here will be the codes when they are uploaded to the database
			<% end %>
		<!-- </div> -->
	</div>
</div>

<script type="text/javascript">

	$(document).ready(function () {
		$('#tableMessages').on('click', '.clickable-row', function(event) {
			if ($(this).hasClass('table-primary')) {
				$(this).removeClass('table-primary').siblings().removeClass('table-primary');
				$(this).attr("id", null);
				$(this).siblings().attr("id", null)
			}else{
				$(this).addClass('table-primary').siblings().removeClass('table-primary');
				$(this).siblings().attr("id", null)
				$(this).attr("id", "row_active");
			}
		});

		$('html').keydown(function(e){
			switch(e.keyCode){
				case 40:
					//console.log("down");
					a = $("#row_active")

					if (a[0] != $("#tableMessages tr:last")[0]) {

						a.removeClass('table-primary');
						a.attr("id", null);

						b = a.closest("tr").next("tr")
						b.addClass('table-primary');
						b.attr("id", "row_active");
						b[0].scrollIntoView(false);
					}
					//

					break;
				case 38:
					//console.log("up");
					a = $("#row_active")

					if (a[0] != $("#tableMessages tr")[1]) {
						a.removeClass('table-primary');
						a.attr("id", null);

						b = a.closest("tr").prev("tr")
						b.addClass('table-primary');
						b.attr("id", "row_active");
						b[0].scrollIntoView(false);
					}
					//b.scrollIntoView(false);
					break;
				//case 39:
				//	console.log("right");
				//	break;
				//case 37:
				//	console.log("left");
				//	break;
			}

		});

	});
</script>