<div class="container-fluid d-flex h-100 flex-column">
	<div class="row flex-fill d-flex h-100">
		<div class="flex-fill d-flex col-md-9" >
			<div class="row flex-fill">
				<!--<div class="col-md-1" style="background-color:#EBFEFF"> 
					<br><br><br><br><br><br><br><br>
					<p style="text-orientation:upright;writing-mode: vertical-lr;text-align: center;vertical-align: middle;"> 
					                        	T  i  m  e  l  i  n  e
					</p>
				</div>-->
				<div class="col-md-12" style="overflow-y:auto;padding-left: 0;padding-right: 0;" id="texts">
					<!-- <br>Here will be the short texts to be coded with a timeline on the left<br> -->
					<% if !@texts.empty? %>
						<table class="table table-bordered table-hover" id="tableMessages">
							<thead>
								<tr>
									<th scope="col"><small><strong>Username</strong></small></th>
									<th scope="col"><small><strong>Text</strong></small></th> 
									<th scope="col" width="12%"><small><strong>Valence</strong></small></th>
								</tr>
							</thead>
							<tbody>
								<% @texts.each do |t| %>
									<tr class="clickable-row" text_id="<%= t.id%>">
										<td><small><%= t.username %> </small></td>
										<td>
											<small>
												<%= t.text %>
												<!--<i class='fe fe-star-o float-right'></i>-->
											</small>
											<% aux = @codings.find_by(text_id: t.id)%>
											<% if !aux.nil? %>

												<% if !aux.code_1.nil?%>
													<span id="emotion-tag-<%=aux.code_1.id%>" class='badge badge-pill badge-info float-right mx-1' style="background-color:<%=aux.code_1.color%>"> <%= aux.code_1.name %></span>
												<% end %>

												<% if !aux.code_2.nil?%>
													<span id="emotion-tag-<%=aux.code_2.id%>" class='badge badge-pill badge-info float-right mx-1' style="background-color:<%=aux.code_2.color%>"> <%= aux.code_2.name %></span>
												<% end %>

												<% if !aux.topic.nil?%>
													<span id= 'topic-tag-<%=aux.topic.id%>' class='badge badge-light badge-info float-right mx-1'><i class='fe fe-<%=aux.topic.icon%>'></i></span>
												<% end %>

											<% end %>

										</td>
										<td>
											<% if !aux.nil? %>
												<i class='fe fe-smile valence-positive valence <%= aux.valence == 1 ? "valence-active valence-positive-selected": nil%>' valence="positive" data-toggle="tooltip" title="Positive"></i>&nbsp;
												<i class='fe fe-open-mouth valence-neutral valence <%= aux.valence == 2 ? "valence-active valence-neutral-selected": nil%>' valence="neutral" data-toggle="tooltip" title="Neutral"></i>&nbsp;
												<i class='fe fe-angry valence-negative valence <%= aux.valence == 3 ? "valence-active valence-negative-selected": nil%>' valence="negative" data-toggle="tooltip" title="Negative"></i>&nbsp;
												<i class='fe fe-question valence-unknown valence <%= aux.valence == 0 ? "valence-active valence-unknown-selected": nil%>' valence="unknown" data-toggle="tooltip" title="Unknown"></i>
											<% else %>
												<i class='fe fe-smile valence-positive valence' valence="positive" data-toggle="tooltip" title="Positive"></i>&nbsp;
												<i class='fe fe-open-mouth valence-neutral valence' valence="neutral" data-toggle="tooltip" title="Neutral"></i>&nbsp;
												<i class='fe fe-angry valence-negative valence' valence="negative" data-toggle="tooltip" title="Negative"></i>&nbsp;
												<i class='fe fe-question valence-unknown valence' valence="unknown" data-toggle="tooltip" title="Unknown"></i>
											<% end %>
											
										</td>
									</tr>
									<!--<small><%= t.username + ": " + t.text %></small><br>-->
								<% end %>
							</tbody>
						</table>
					<% else %>
						Here will be the short texts to be coded when they are uploaded to the database
					<% end %>
				</div>
			</div>
		</div>
		<div class="col-md-3" >
			<!-- <br>Here will be the labels to code the data <br> -->

			<div class="row" style="min-height:30%;max-height: 30%;overflow-y: auto;padding-top: 0.5em; padding-bottom:0.5em; margin: 0;">
				<% if !@codes.empty? %>
					<% @codes.each do |c| %>
						
						<div class="col-md-6" style="padding: 2px;">	
							<button  id="emotion-tag-<%=c.id%>" type="button" class="btn btn-default btn-block btn-sm emotion-button"" style="background-color:<%=c.color%>">
								 <strong><%= c.name%></strong>		
							</button>
						</div>


					<% end %>
				<% else %>
					Here will be the codes when they are uploaded to the database
				<% end %>
			</div>

			<div class="row" style="height: 70%;overflow-y: auto;">
				<% if !@topics.empty? %>
					<table id="topicTable" class="table table-bordered table-hover table-sm" style="margin-bottom: 0">
						<% @topics.each do |t| %>
							<tr>
								<th id="topic-tag-<%=t.id%>" class="topic-row" >
									&nbsp;<i class="fe fe-<%=t.icon%>"></i>&nbsp;
									<small><%= t.name%></small>
								</th>
							</tr>
						<% end %>
					</table>
				<% else %>
					Here will be the topics when they are uploaded to the database
				<% end %>
			</div>
		</div>
	</div>

	<!-- Coding Modal -->
	<div class="modal fade " id="codingModal" tabindex="-1" role="dialog" aria-labelledby="codingModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	    	<div class="modal-header" style="padding-bottom: 0">
	    		<ul class="nav nav-tabs nav-fill" id="myTab" role="tablist" style="">
	    			<li class="nav-item">
				    	<a class="nav-link" id="topic-tab" datatoggle="tab" role="tab" href="#topic" aria-selected="false"><span class="badge badge-secondary">1</span>&nbsp;Topic</a>
				  	</li>
				  <li class="nav-item">
				    <a class="nav-link active" id="affect-tab" datatoggle="tab" role="tab" href="#affect" aria-selected="true"><span class="badge badge-secondary">2</span>&nbsp;Affect</a>
				  </li>
				  
				  <li class="nav-item">
				    <a class="nav-link" id="valence-tab" datatoggle="tab" role="tab" href="#valence" aria-selected="false">
				    <span class="badge badge-secondary">3</span>&nbsp;Valence
					</a>
				  </li>
				</ul>
	    	</div>
	      <div class="modal-body">
	      	<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="affect" role="tabpanel" aria-labelledby="affect-tab">
					<div id="affects">
		         		<input class="form-control form-control-lg typeahead" id="inputAffectLabel" type="text" placeholder="Start typing affect..." autofocus>
		        	</div>
		        	<small class="text-muted float-right">Press esc to close, enter to apply code</small>
				</div>
				<div class="tab-pane fade" id="topic" role="tabpanel" aria-labelledby="topic-tab">
					<div id="topics">
		         		<input class="form-control form-control-lg typeahead" id="inputTopicLabel" type="text" placeholder="Start typing topic..." autofocus>
		        	</div>
		        	<small class="text-muted float-right">Press esc to close, enter to apply code</small>
				</div>
				<div class="tab-pane fade" id="valence" role="tabpanel" aria-labelledby="valence-tab">
					<br>
					<center>
						<h1>
							<i class='fe fe-disabled valence-none' valence = "none" data-toggle="tooltip" title="None"></i>&nbsp;&nbsp;
							<i class='fe fe-smile valence-positive ' valence = "positive" data-toggle="tooltip" title="Positive"></i>&nbsp;&nbsp;
							<i class='fe fe-open-mouth valence-neutral' valence = "neutral" data-toggle="tooltip" title="Neutral"></i>&nbsp;&nbsp;
							<i class='fe fe-angry valence-negative' valence = "negative" data-toggle="tooltip" title="Negative"></i>&nbsp;&nbsp;
							<i class='fe fe-question valence-unknown' valence = "unknown" data-toggle="tooltip" title="Unknown"></i>
						</h1>
						<br>
						<div class="row">
							<div class="col-md-2" >
							</div>
							<div class="col-md-2 " >
								<h3 ><i class=' fe fe-drop-left'  data-toggle="tooltip" ></i></h3>	
							</div>
							<div class="col-md-4 " >
								<h3>	
									<span></span>
								</h3>
								
							</div>
							<div class="col-md-2"  >
								<h3 ><i class='fe fe-drop-right' data-toggle="tooltip" ></i></h3>
							</div>
							<div class="col-md-2" >
							</div>
						</div>						
					</center>
					<br>
				</div>
		    </div>
	      </div>
	    </div>
	  </div>
	</div>
</div>
<!-- End of Coding Modal -->




<script type="text/javascript">

	$(document).ready(function () {
		// Disables tab key
		$(document).keydown(function(objEvent) {
		    if (objEvent.keyCode == 9) {  //tab pressed
		        objEvent.preventDefault(); // stops its action
		    }
		})

		// Select a message from the list by clicking
		$('#tableMessages').on('click', '.clickable-row', function(event) {
			if (!$(this).hasClass('table-primary')) {

				$(this).addClass('table-primary').siblings().removeClass('table-primary');
				$(this).siblings().attr("id", null)
				$(this).attr("id", "row_active");
	    		
			}
		});

		// Select first message on page load, PENDING: select where the user left
		if(<%= @last_coded%> == 0){
			$("#tableMessages tr.clickable-row:first").click();
			console.log(<%= @last_coded %> )
		}
		else{
			$("#tableMessages tr[text_id= <%= @last_coded %>]").click()
			console.log("asd")
		}
		
		
		
		
		// Navigation through message list using key up and down, PENDING: Add IJKL or WASD
		$('html').keydown(function(e){
			if ($("#codingModal").hasClass("show") == false){
				switch(e.keyCode){
					case 40:
						//console.log("down");
						a = $("#row_active")

						if (a[0] != $("#tableMessages tr:last")[0]) {
							a.removeClass('table-primary');
							a.attr("id", null);

							b = a.closest("tr").next("tr")
							b.addClass('table-primary');
							b.attr("id", "row_active");
							b[0].scrollIntoView(false);
				    		
						}
						//

						break;
					case 38:
						//console.log("up");
						a = $("#row_active")

						if (a[0] != $("#tableMessages tr")[1]) {
							a.removeClass('table-primary');
							a.attr("id", null);

							b = a.closest("tr").prev("tr")
							b.addClass('table-primary');
							b.attr("id", "row_active");
							b[0].scrollIntoView(false);
							current_valence = b.find(".valence-active").attr("valence")
				    		
						}
						//b.scrollIntoView(false);
						break;
					//case 39:
					//	console.log("right");
					//	break;
					//case 37:
					//	console.log("left");
					//	break;
				}
			}

		});


		// Open Coding Modal by pressing any key
	    $('html').keypress(function(e){
	    	if ($("#codingModal").hasClass("show") == false){
		    	//console.log("ACA")
		    	$('#codingModal').modal('show')
		    	$('#myTab li:first-child a').tab('show')
		    	$('#inputAffectLabel').trigger('focus')
		    }
	    });

	    $("#myTab").on('shown.bs.tab', function (e) { 
	    	if($("#myTab a.active").attr("id") == "affect-tab"){
	    		$('#inputAffectLabel').trigger('focus')
	    	}else if($("#myTab a.active").attr("id") == "topic-tab"){
	    		$('#inputTopicLabel').trigger('focus')
	    	}else if($("#myTab a.active").attr("id") == "valence-tab"){
	    		//$('#inputValene').trigger('focus')	
	    	}
	    });
	    function updateValenceModal(valence){
	    	$("#valence .valence-selected").removeClass("valence-selected valence-"+ $("#valence .valence-selected").attr("valence") +"-selected")
			$("#valence .valence-"+valence.toLowerCase()).addClass("valence-selected valence-"+valence.toLowerCase()+"-selected")
			$("#valence span").text(valence)
		}
	    // Focus input on Coding Modal
	    $('#codingModal').on('shown.bs.modal show.bs.modal', function () {
	    	if($("#myTab a.active").attr("id") == "affect-tab"){
	    		$('#inputAffectLabel').trigger('focus')
	    	}else if($("#myTab a.active").attr("id") == "topic-tab"){
	    		$('#inputTopicLabel').trigger('focus')
	    	}else if($("#myTab a.active").attr("id") == "valence-tab"){
	    		if($("#row_active .valence-active").length ==0 ){
	    			updateValenceModal("None")
	    			$("#valence .fe-drop-left").css("color", "#d7d7d7")
	    			$("#valence .fe-drop-left").addClass("disable-left")
					$("#valence .fe-drop-right").css("color","black")
	    		}
	    		else{
	    			updateValenceModal($("#row_active .valence-active").attr("data-original-title"))	
	    			if($("#row_active .valence-active").next("i").length == 0) {
	    				$("#valence .fe-drop-right").css("color", "#d7d7d7")
	    				$("#valence .fe-drop-right").addClass("disable-right")
	    			}
	    			else{
	    				$("#valence .fe-drop-right").css("color","black")	
	    			}
	    			$("#valence .fe-drop-left").css("color","black")
	    		}
	    		
	    	}
	    });

	    var emotions = JSON.parse('<%= raw(@codes.to_json) %>');
	    //console.log(emotions);

	    $('.emotion-button').on('click', function() {
			tag_name = $(this)[0].innerText
			
			tag = emotions.find(function(element) { 
			  return element.name ===tag_name; 
			}); 
			
			tag_obj = $("#row_active td:nth-child(2) #emotion-tag-"+tag.id)[0]

			if( tag_obj==null){
				$("#row_active td:nth-child(2)").append("<span id= emotion-tag-" +tag.id+" class='badge badge-pill badge-info float-right mx-1' style='background-color:"+tag.color+"'>"+tag.name+"</span>")	
				text_id = $("#row_active").attr("text_id")
				
				$.ajax({
				  type: "POST", 
				  url: "/coding/add_code",
				  data: {text_id: text_id, code_id: tag.id},

				  //success: function(data, textStatus, jqXHR){...},
				  //error: function(jqXHR, textStatus, errorThrown){...}
				})
			}


			else{
				tag_obj.remove()
				text_id = $("#row_active").attr("text_id")
				
				$.ajax({
				  type: "POST", 
				  url: "/coding/remove_code",
				  data: {text_id: text_id, code_id: tag.id},

				  //success: function(data, textStatus, jqXHR){...},
				  //error: function(jqXHR, textStatus, errorThrown){...}
				})
			}			
			
		});

	    var affects = new Bloodhound({
			datumTokenizer: Bloodhound.tokenizers.obj.whitespace("name"),
			queryTokenizer: Bloodhound.tokenizers.whitespace,
			local: emotions
	    });

	    affects.initialize();

	    $('#affects .typeahead').typeahead({
			hint: true,
			highlight: true,
			minLength: 1
	    },
	    {
			name: 'affects',
			display: 'name',
			valueKey: "id",
			source: affects,
			templates:{
				suggestion: Handlebars.compile('<div></div>')
			}
	    });


	    $('#affects .typeahead').on('keydown', function(event) {	
	        if(event.which == 13) {

	          	typeahead = $(this).data().ttTypeahead;
	          	hint = typeahead.input.$hint.val();
	          	val = typeahead.input.query;

	          	if (emotions.some(m => m.name === hint) | emotions.some(m => m.name === val)){
		          	if(hint != ""){
		          		selected = emotions.filter(obj => {return obj.name === hint})
		          	}else{
		          		selected = emotions.filter(obj => {return obj.name === val})
		          	}

		          	selected = selected[0]
					selected_obj = $("#row_active td:nth-child(2) #emotion-tag-"+selected.id)[0]

					text_id = $("#row_active").attr("text_id")

					if( selected_obj == null){
						$("#row_active td:nth-child(2)").append("<span id= 'emotion-tag-"+selected.id+"' class='badge badge-pill badge-info float-right mx-1' style='background-color:"+selected.color+"'>"+selected.name+"</span>")	
						$.ajax({
						  type: "POST", 
						  url: "/coding/add_code",
						  data: {text_id: text_id, code_id: selected.id},

						  //success: function(data, textStatus, jqXHR){...},
						  //error: function(jqXHR, textStatus, errorThrown){...}
						})
					}
					else{
						selected_obj.remove()

						$.ajax({
						  type: "POST", 
						  url: "/coding/remove_code",
						  data: {text_id: text_id, code_id: selected.id},

						  //success: function(data, textStatus, jqXHR){...},
						  //error: function(jqXHR, textStatus, errorThrown){...}
						})
					}			
		          	//if(asd)
		          	//$("#row_active td:nth-child(2)").append("<span class='badge badge-pill badge-info float-right mx-1' style='background-color:"+selected.color+"'>"+selected.name+"</span>")
		          	$('.typeahead').typeahead('val', '');
		            $("#codingModal").modal("hide");
		        }
	        }
	    });

	    // Set of topics, PENDING: get from controllerhint
	    var topic = JSON.parse('<%= raw(@topics.to_json) %>')

	    $('.topic-row').on('click', function() {
			topic_name = $(this)[0].childNodes[3].textContent
			topic_row = topic.find(function(element) { 
			  return element.name === topic_name; 
			}); 
			topic_obj = $("#row_active td:nth-child(2) #topic-tag-"+topic_row.id)[0]
			text_id = $("#row_active").attr("text_id")
			if( topic_obj==null){
				$("#row_active td:nth-child(2)").append("<span id= 'topic-tag-" +topic_row.id+"' class='badge badge-light badge-info float-right mx-1'><i class='fe fe-"+topic_row.icon+"'></i></span>")
				$.ajax({
						  type: "POST", 
						  url: "/coding/add_topic",
						  data: {text_id: text_id, topic_id: topic_row.id},

						  //success: function(data, textStatus, jqXHR){...},
						  //error: function(jqXHR, textStatus, errorThrown){...}
						})
			}
			else{
				topic_obj.remove()
				$.ajax({
						  type: "POST", 
						  url: "/coding/remove_topic",
						  data: {text_id: text_id, topic_id: topic_row.id},

						  //success: function(data, textStatus, jqXHR){...},
						  //error: function(jqXHR, textStatus, errorThrown){...}
						})
			}	
			
		});

	    var topics = new Bloodhound({
			datumTokenizer: Bloodhound.tokenizers.obj.whitespace("name"),
			queryTokenizer: Bloodhound.tokenizers.whitespace,
			local: topic
	    });

	    topics.initialize();

	    $('#topics .typeahead').typeahead({
			hint: true,
			highlight: true,
			minLength: 1
	    },
	    {
			name: 'topics',
			display: 'name',
			valueKey: "id",
			source: topics,
			templates:{
				suggestion: Handlebars.compile('<div></div>')
			}
	    });


	    $('#inputTopicLabel').on('keydown', function(event) {	
	        if(event.which == 13) {

	          	typeahead = $(this).data().ttTypeahead;
	          	hint = typeahead.input.$hint.val();
	          	val = typeahead.input.query;

	          	//console.log("HINT: " + hint)
	          	//console.log("VAL: " + val)
	          	//console.log("hint exists?: " + topic.some(m => m.name.localeCompare(hint)))
	          	//console.log("val exists?: " + topic.some(m => m.name.localeCompare(val,undefined, { sensitivity: 'base' })===0))
	          	//if (topic.some(m => hint.localeCompare(m.name)) | topic.some(m => m.name.localeCompare(val,undefined, { sensitivity: 'base' }) === 0)){
	          	if (topic.some(m => m.name.localeCompare(hint,undefined, { sensitivity: 'base' })===0 ) | topic.some(m => m.name.localeCompare(val,undefined, { sensitivity: 'base' }) === 0)){
		          	if(hint != ""){
		          		selected = topic.filter(obj => {return obj.name.localeCompare(hint,undefined, { sensitivity: 'base' })===0})
		          	}else{
		          		selected = topic.filter(obj => {return obj.name.localeCompare(val,undefined, { sensitivity: 'base' })===0})
		          	}

		          	selected = selected[0]
		          	selected_obj = $("#row_active td:nth-child(2) #topic-tag-"+selected.id)[0]
		          	text_id = $("#row_active").attr("text_id")
					if( selected_obj == null){
						$("#row_active td:nth-child(2)").append("<span id= 'topic-tag-" +selected.id+"' class='badge badge-light badge-info float-right mx-1'><i class='fe fe-"+selected.icon+"'></i></span>")
						$.ajax({
						  type: "POST", 
						  url: "/coding/add_topic",
						  data: {text_id: text_id, topic_id: selected.id},

						  //success: function(data, textStatus, jqXHR){...},
						  //error: function(jqXHR, textStatus, errorThrown){...}
						})
					}
					else{
						selected_obj.remove()
						$.ajax({
						  type: "POST", 
						  url: "/coding/remove_topic",
						  data: {text_id: text_id, topic_id: selected.id},

						  //success: function(data, textStatus, jqXHR){...},
						  //error: function(jqXHR, textStatus, errorThrown){...}
						})
					}	
			
		          	//console.log(selected.name)
		          	
		          	//$("#row_active td:nth-child(2)").append("<span class='badge badge-light badge-info float-right mx-1'><i class='fe fe-"+selected.icon+"'></i></span>")
		          	$('.typeahead').typeahead('val', '');
		            $("#codingModal").modal("hide");
		        }
	        }
	    });

	    // Navigate through coding modal tabs or open directly pressing 1 => affect, 2 => topic or 3 => valence
	    $('html').on('keydown', function(event) {	

	    	if (event.which == 49 | event.which == 50 | event.which == 51){
		    	if ($("#codingModal").hasClass("show") == false){
			    	//console.log("ACA")
			    	$('#codingModal').modal('show')
			    	//$('#myTab li:first-child a').tab('show')
			    }
			}

	    	if(event.which == 49) {
	    		//console.log("1")
	    		event.preventDefault();
	    		event.stopPropagation();
	    		if($("#myTab a.active").attr("id") == "topic-tab"){
	    			console.log("nada")
	    		}else{
	    			$('#topic-tab').tab("show");
	    		}
	    		$('#inputTopicLabel').focus()
	    	}else if(event.which == 50){
	    		event.preventDefault();
	    		event.stopPropagation();
	    		//console.log("2")
	    		if($("#myTab a.active").attr("id") == "affect-tab"){
	    			console.log("nada")
	    		}else{
	    			$('#affect-tab').tab("show");
	    		}
	    		$('#inputAffectLabel').focus()

	    	}else if(event.which == 51){
	    		event.preventDefault();
	    		event.stopPropagation();
	    		//console.log("3")
	    		$('#valence-tab').tab("show");

	    	}
	    });


	    // Tab initialization
	    $('#myTab a').on('click', function (e) {
		  e.preventDefault()
		  $(this).tab('show')
		})

		// Hover on valence emojis
		$(".valence").hover(function () {
			$(this).addClass("valence-" + $(this).attr("valence") + "-hover")
		}, function(){
			$(this).removeClass("valence-" + $(this).attr("valence") + "-hover")
		});

		function addValence(text_id, valence){
			$.ajax({
				  type: "POST", 
				  url: "/coding/add_valence",
				  data: {text_id: text_id, valence: valence},
				})
		}

		function removeValence(text_id, valence){
			$.ajax({
				  type: "POST", 
				  url: "/coding/remove_valence",
				  data: {text_id: text_id, valence: valence},
				})	
		}

		// Select Valence by clicking
		$('.valence').on('click', function() {

			text_id = $(this).parent().parent().attr("text_id")

		 	if($(this).parent().children(".valence-active").length == 0){

		 		$(this).addClass("valence-" + $(this).attr("valence") + "-selected")
		 		$(this).addClass("valence-active")
		 		addValence(text_id, $(this).attr("valence"))
		 	}else{
		 		selected = $(this).parent().children(".valence-active")
	 			selected.removeClass("valence-active")
	 			selected.removeClass("valence-" + selected.attr("valence") + "-selected")
		 		if(selected.attr("valence") !== $(this).attr("valence")){
			 		$(this).addClass("valence-" + $(this).attr("valence") + "-selected")
			 		$(this).addClass("valence-active")
			 		addValence(text_id, $(this).attr("valence"))
			 	}
			 	else{
			 		
		 			removeValence(text_id, selected.attr("valence"))
			 	}
		 	}
		});

		//select valence with modal
		$('html').keydown(function(e){
			if($("#codingModal").hasClass("show") == true && $("#myTab a.active").attr("id") == "valence-tab"){
				current_valence = $("#valence .valence-selected")
				switch(e.keyCode){
					case 37:
						if (current_valence.prev("i").length != 0){
							updateValenceModal(current_valence.prev("i").attr("data-original-title"))
							if(current_valence.prev("i").prev("i").length ==0){
								$("#valence .fe-drop-left").css("color","#d7d7d7")
								$("#valence .fe-drop-left").addClass("disable-left")
							}
							if($("#valence  .disable-right").length !=0){
								$("#valence .fe-drop-right").css("color","black")
							}
						}
					break
					case 39:
						if (current_valence.next("i").length != 0){
							updateValenceModal(current_valence.next("i").attr("data-original-title"))
							if(current_valence.next("i").next("i").length ==0){
								$("#valence .fe-drop-right").css("color","#d7d7d7")
								$("#valence .fe-drop-right").addClass("disable-right")
							}
							if($("#valence  .disable-left").length !=0){
								$("#valence .fe-drop-left").css("color","black")
							}
						}
					break
					case 13:
		            	$("#codingModal").modal("hide");
		            break

				}
			}
		});


		$('#codingModal').on('hidden.bs.modal hidde.bs.modal', function (e) {
  			selected_valence = $("#valence .valence-selected")
  			current_valence = $("#row_active .valence-active")
  			if(selected_valence.attr("valence") == "none" && current_valence.length != 0){
  				current_valence.removeClass("valence-active valence-"+ current_valence.attr("valence") +"-selected")  				
  				removeValence($("#row_active").attr("text_id"), current_valence.attr("valence"))
  			}
  			else if(selected_valence.attr("valence") != current_valence.attr("valence" )){
				current_valence.removeClass("valence-active valence-"+ current_valence.attr("valence") +"-selected")
				$("#row_active .valence-"+selected_valence.attr("valence")).addClass("valence-active valence-"+selected_valence.attr("valence") +"-selected")
				addValence($("#row_active").attr("text_id"), selected_valence.attr("valence"))
  			}
			$("#valence .fe-drop-left").removeClass("disable-left")
			$("#valence .fe-drop-right").removClass("disable-right")
		})

	});
</script>